@import "tailwindcss";
@import "@fontsource/iosevka-aile";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "rose-pine-moon";
  default: false;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #232136;
  --color-base-200: #2a273f;
  --color-base-300: #393552;
  --color-base-content: #e0def4;
  --color-primary: #c4a7e7;
  --color-primary-content: #232136;
  --color-secondary: #ea9a97;
  --color-secondary-content: #232136;
  --color-accent: #c4a7e7;
  --color-accent-content: #232136;
  --color-neutral: #2a273f;
  --color-neutral-content: #e0def4;
  --color-info: #3e8fb0;
  --color-info-content: #232136;
  --color-success: #9ccfd8;
  --color-success-content: #232136;
  --color-warning: #f6c177;
  --color-warning-content: #232136;
  --color-error: #eb6f92;
  --color-error-content: #232136;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-sans: "Iosevka Aile", "sans-serif";
}
