---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <div
    class="bg-base-100 flex min-h-screen flex-col items-center justify-center p-8 text-center"
  >
    <h1 class="text-warning mb-4 text-6xl font-bold">404 Not Found</h1>
  </div>
  <div
    class="from-base-200 absolute inset-0 z-0 h-full w-full bg-gradient-to-t via-transparent to-transparent"
  >
  </div>
</Layout>
