---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="404 Not Found | Wintertia"
  description="The page you are looking for does not exist."
>
  <div class="bg-base-100 flex h-screen w-screen items-center justify-center">
    404 Not Found
  </div>
  <Footer />
</Layout>
