---
import ProjectComponent from "../components/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Wintertia">
  <ProjectComponent display={100}>
    <div class="my-2 text-lg italic">These are all of my major projects!</div>
  </ProjectComponent>
</Layout>
