---
import Footer from "../components/Footer.astro";
import ProjectComponent from "../components/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Projects | Wintertia"
  description="Explore projects by Amoes Noland, including cybersecurity related stuff and dev work."
>
  <ProjectComponent display={100}>
    <div class="project-subtitle my-2 text-lg text-[var(--color-muted)] italic">
      More coming soon!
    </div>
  </ProjectComponent>
  <Footer />
</Layout>
