---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
}

const { icon } = Astro.props;
---

<div
  class="about-card-2 card bg-base-200 border-base-300 flex flex-1 flex-row border-2 px-6 md:flex-col md:px-0 md:pt-6"
>
  <div class="mx-auto flex max-w-16 align-middle">
    <Icon name={icon} size={"100%"} />
  </div>
  <article class="card-body self-center text-pretty md:text-center">
    <slot />
  </article>
</div>
