---
import { Image } from "astro:assets";
---

<div class="flex min-h-100 items-center justify-center">
  <div
    class="mockup-window bg-neutral border-base-300 m-8 w-full border lg:w-2/3"
  >
    <div
      class="border-base-300 grid h-100 grid-rows-3 place-items-stretch gap-8 border-t p-8 md:grid-cols-3 md:grid-rows-1"
    >
      <div
        class="max-md:mask aspect-square overflow-hidden max-md:mask-circle md:rounded-xl"
      >
        <Image
          src="https://placehold.co/600x600/"
          width="400"
          height="600"
          alt="Face"
          class="h-full w-full object-center md:object-cover"
        />
      </div>
      <div
        class="row-span-2 text-center text-xs md:col-span-2 md:text-justify md:text-lg"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
        consectetur felis non neque viverra convallis non sed ex. Nam bibendum
        erat et dictum maximus. Duis ultrices dolor non massa hendrerit, eget
        sollicitudin sem ullamcorper. Nunc suscipit venenatis scelerisque. Duis
        et elit sed enim tincidunt tempor. Sed id tincidunt metus. Orci varius
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus. Nunc a maximus dolor.
      </div>
    </div>
  </div>
</div>
