---
import { Image } from "astro:assets";
import Self from "../images/portrait.jpeg";
---

<div class="z-10 flex flex-col items-center justify-center">
  <div
    class="about-title z-10 mx-auto text-center text-4xl font-bold text-shadow-lg md:text-6xl"
  >
    Who Am I?
  </div>
  <div class="flex min-h-120 items-center justify-center">
    <div
      class="about-box mockup-window border-neutral from-base-200 to-base-200 hover:to-base-300 m-8 w-full border-2 bg-gradient-to-b transition-colors duration-300 ease-in-out lg:w-3/4 xl:w-5/8"
    >
      <div
        class="border-neutral grid h-auto grid-rows-1 place-items-stretch gap-8 border-t p-8 max-[468px]:grid-rows-[auto_1fr] md:grid-cols-2 md:px-16"
      >
        <div
          class="mask m-auto aspect-square max-h-40 max-w-40 overflow-hidden mask-circle md:max-h-76 md:max-w-76"
        >
          <Image
            src={Self}
            width="830"
            height="830"
            alt="Face"
            class="h-full w-full object-center md:object-cover"
          />
        </div>
        <article
          class="self-center text-center text-sm md:text-lg md:text-pretty"
        >
          <p class="about-text">
            I’m a
            {
              Math.floor(
                (new Date().getTime() - new Date("2004-11-19").getTime()) /
                  (1000 * 60 * 60 * 24 * 365.25),
              )
            }
            year old Indonesian IT student at <a
              href="https://www.its.ac.id/"
              class="text-primary">ITS</a
            > and part of <a href="https://hcs-team.com/" class="text-primary"
              >Heroes Cyber Security</a
            >. Usually I play CTFs and develop side projects in my free time.
            I'm passionate about learning more advanced cybersecurity and
            software development especially with low-level languages.
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
