---
import AboutCard from "./AboutCard.astro";
---

<div class="z-10">
  <div class="mx-auto w-full lg:w-3/4 xl:w-5/8">
    <div
      class="about-title-2 text-center text-2xl font-bold text-shadow-lg md:text-4xl"
    >
      More About Me
    </div>

    <div class="mt-8 flex min-h-100 flex-col gap-8 max-lg:mx-8 md:flex-row">
      <AboutCard icon="flag">
        I like learning cyber security knowledge through playing Capture The
        Flag competitions. Usually I play Binary Exploitation (Pwn) challenges,
        but I also enjoy exploring other categories.
      </AboutCard>
      <AboutCard icon="vim">
        I develop side projects in my free time. I use VSCode with the Vim
        extension as my primary text editor because Vim keybindings are
        efficient and comfortable for my workflow.
      </AboutCard>
      <AboutCard icon="game">
        When I need a break, I like to play games. I'm a huge fan of the Pokemon
        franchise, and I also enjoy other games such as Final Fantasy XIV, the
        Persona series, and various indie games.
      </AboutCard>
    </div>
  </div>
</div>
