---
import AboutCards from "./AboutCards.astro";
import AboutIntro from "./AboutIntro.astro";
---

<div
  class="bg-base-100 relative bg-[url('/src/images/backgrounds/grid-haikei.svg')] bg-repeat py-16"
>
  <div
    class="from-base-100 absolute inset-0 z-0 h-full w-full bg-gradient-to-b via-transparent to-transparent"
  >
  </div>
  <div
    class="from-base-100 absolute inset-0 z-0 h-full w-full bg-gradient-to-t via-transparent to-transparent"
  >
  </div>
  <AboutIntro />
  <AboutCards />
</div>
