---
interface Props {
  link: string;
}

const { link } = Astro.props
---

<a href={link} target="_blank" rel="noopener noreferrer" class="">
  <button class="btn btn-ghost btn-circle items-center">
    <slot />
  </button>
</a>