---
import { Icon } from "astro-icon/components";
import Socials from "./Socials.astro";
---

<footer
  class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10"
>
  <aside>
    <Icon name="social/wintertia" class="mb-2 h-12 w-12" />
    <p>
      <span class="font-bold">Wintertia</span>
      <br />
      Copyright © {new Date().getFullYear()} - All rights reserved
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Socials</h6>
    <Socials />
  </nav>
</footer>
