---
import { Icon } from "astro-icon/components";
import Socials from "./Socials.astro";
---

<footer class="footer footer-horizontal footer-center bg-neutral gap-4 p-6">
  <aside>
    <Icon name="social/wintertia" class="footer-icon mb-2 h-12 w-12" />
    <p class="footer-text">
      <span class="font-bold">Wintertia</span>
      <br />
      Copyright © {new Date().getFullYear()} - All rights reserved
    </p>
  </aside>
  <nav class="footer-nav">
    <Socials />
  </nav>
</footer>
