---
import { Image } from "astro:assets";
import CyberpunkBackground from "../images/backgrounds/cyberpunkcity.jpg";
import Socials from "./Socials.astro";
---

<div class="hero relative min-h-[calc(100vh-4rem)]">
  <Image
    src={CyberpunkBackground}
    alt="Cyberpunk city background"
    class="absolute inset-0 -z-10 h-full w-full object-cover blur-xs"
    width={1920}
    height={1080}
    format="webp"
    quality={80}
  />

  <div class="hero-overlay bg-neutral/60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="">
      <h1 class="mb-5 text-3xl font-black md:text-5xl">I'm Amoes Noland.</h1>
      <p class="text-md mb-5 text-balance md:text-xl">
        Cybersecurity & Binary Exploitation Enthusiast,
        <br class="hidden min-[990px]:block" />
        Entry Level Web/Game Developer, IT Student.
      </p>
      <Socials />
    </div>
  </div>
</div>
