---

---

<div
  class="relative flex h-screen flex-col items-center justify-center bg-[url('/src/images/backgrounds/grid-haikei.svg')] bg-repeat"
>
  <div
    class="from-base-100 absolute inset-0 z-0 h-full w-full bg-gradient-to-t via-transparent to-transparent"
  >
  </div>
  <div class="flex min-h-120 items-center justify-center">
    <div
      class="about-box mockup-window border-neutral from-base-200 to-base-200 hover:to-base-300 m-8 w-full border-2 bg-gradient-to-b transition-colors duration-300 ease-in-out lg:w-3/4 xl:w-5/8"
    >
      <div class="border-neutral h-auto gap-8 border-t p-8 md:px-16">
        <article class="self-center text-sm text-pretty md:text-lg">
          <p class="about-text">
            <h1 class="mb-4 text-center text-2xl font-bold">
              About My Developer Journey
            </h1>
            <p class="text-center">
              I'm still fairly new to web/game development in general, but I'm
              eager to learn and improve my skills. I'm currently focusing on
              learning the technologies I'm using to build my projects and maybe
              I will learn new technologies along the way.
            </p>
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
