---
import { Image } from "astro:assets";
import CyberpunkBackground from "../images/cyberpunk-city.jpg";
---

<div class="hero min-h-[calc(100vh-4rem)] relative">
  <Image 
    src={CyberpunkBackground} 
    alt="Cyberpunk city background" 
    class="absolute inset-0 w-full h-full object-cover -z-10"
    width={1920}
    height={1080}
    format="webp"
    quality={80}
  />
  
  <div class="hero-overlay bg-neutral/60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>