---
import { Icon } from "astro-icon/components";
---

<div
  class="navbar from-base-100 fixed top-0 z-50 bg-gradient-to-b to-transparent shadow-sm"
>
  <div class="navbar-start mx-1">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a class="text-shadow-black/50 text-shadow-lg" href="/">About</a>
        </li>
        <li>
          <a class="text-shadow-black/50 text-shadow-lg" href="/projects/"
            >Projects</a
          >
        </li>
        <li>
          <a class="text-shadow-black/50 text-shadow-lg" href="/blog/"
            >Writeups</a
          >
        </li>
      </ul>
    </div>
    <Icon name="social/wintertia" size="2rem" class="hidden lg:block" />
    <a
      href="/"
      class="mx-4 text-xl font-bold text-shadow-black/50 text-shadow-lg"
      >Wintertia</a
    >
  </div>
  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal">
      <li><a class="text-shadow-black/50 text-shadow-lg" href="/">About</a></li>
      <li>
        <a class="text-shadow-black/50 text-shadow-lg" href="/projects/"
          >Projects</a
        >
      </li>
      <li>
        <a class="text-shadow-black/50 text-shadow-lg" href="/blog/">Writeups</a
        >
      </li>
    </ul>
  </div>
</div>

<script>
  import gsap from "gsap";
  gsap.from(".navbar", {
    duration: 2,
    opacity: 0,
    yPercent: -100,
    ease: "power2.out",
    delay: 0.5,
  });
</script>
