---
import ProjectCard from "./ProjectCard.astro";
---

<div class="py-16">
  <div class="mx-auto justify-self-center text-center text-4xl font-bold">
    My Stuff
  </div>
  <div class="m-8 flex min-h-100 justify-center align-middle">
    <ProjectCard />
  </div>
</div>
