---
import { Icon } from "astro-icon/components";
import SocialButton from "./SocialButton.astro";

interface Props {
  glow?: boolean;
}

const { glow = false } = Astro.props;
const glowClass = glow ? "drop-shadow-lg drop-shadow-primary" : "";
---

<div class="flex justify-center gap-4 align-middle">
  <SocialButton link="mailto:amoes.noland@gmail.com">
    <Icon name="social/mail" size="100%" class={glowClass} />
  </SocialButton>
  <SocialButton link="https://github.com/wintertia">
    <Icon name="social/github" size="70%" class={glowClass} />
  </SocialButton>
  <SocialButton link="https://linkedin.com/in/amoesnoland">
    <Icon name="social/linkedin" size="70%" class={glowClass} />
  </SocialButton>
</div>
