---
interface Props {
  link: string;
}

const { link } = Astro.props;
---

<a href={link} target="_blank" rel="noopener noreferrer" class="social-button">
  <abbr title={link.replace(/https?:\/\//, "")}>
    <div
      class="btn btn-ghost btn-circle items-center transition duration-300 ease-in-out hover:scale-125"
    >
      <slot />
    </div>
  </abbr>
</a>
