---
import stack from "../data/techstack.json";
import StackCard from "./StackCard.astro";
---

<div class="bg-base-200 py-16">
  <div
    class="stack-title mx-auto mb-8 justify-self-center text-center text-4xl font-bold"
  >
    My Skills
  </div>

  <div class="mx-4 flex flex-wrap justify-center-safe gap-4">
    {stack.data.map((stack) => <StackCard name={stack} />)}
  </div>

  <div
    class="stack-card mx-auto my-8 justify-self-center text-center text-xl text-[var(--color-muted)] italic"
  >
    ... and more to come!
  </div>
</div>
