---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
}

const { name } = Astro.props;
---

<div class="stack-card">
  <div
    class="bg-base-200 border-neutral h-16 w-16 rounded-lg border-2 p-4 transition duration-300 ease-in-out hover:scale-110 md:h-24 md:w-24 lg:h-32 lg:w-32"
  >
    <Icon name={`techstack/${name}`} size="100%" />
  </div>
</div>
